/.DS_Store
lib/libraylib.a
bin/robomage
obj/*.o
obj/*/*.o
bin/resources/cardsfolder/**
bin/resources/cardsfolder/.DS_Store
bin/resources/logs/**
src/classes/game.cpp
logs/**
train/__pycache__/**
train/logs/**
checkpoints/*.zip
replays/*.txt
train/checkpoints/*
.cache/*
